




/*h1 {
color:blue;
font-size: 80px;
font-weight: bold;
text-align: center;
font-family: Arial;;
}
*/ 
/* div { 
  font-size: 30px;
  line-height: 2;
  border: 1px solid green;
  text-align: center;
  border-radius: 20%;
}

div::before {
content: "";
    position: absolute;
    height: 20px;
    width: 10px;
    margin-left: 50px;
} */


